.contenedor-compra {
  margin: 5vh auto;
}

h1 {
  margin: 0;
}
h2 {
  margin: 0;
}
img {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 100px;
}
h5 {
  margin: 10px;
  float: right;
}
.beneficios img {
  float: left;
  width: 40px;
}

.compra-premium {
  border-radius: 25px;
  background-color: #92c7cf;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 20px;
  flex-wrap: wrap;
  margin: 5vh auto;
  height: 600px;
  width: 300px;
}
.compra-premium beneficios {
  display: flex;
  margin: auto;
  align-items: center;
  text-align: center;
}
.compra-premium button {
  border-radius: 10px;
  border: none;
  align-self: center;
  outline: 0;
  padding: 10px;
  color: black;
  background-color: #92c7cf;
  border: 1px solid black;
  border-color: black;
  text-align: center;
  cursor: pointer;
  width: 80%;
  font-size: 15px;
}

.compra-premium button:hover {
  background-color: #00696d;
  color: white;
}

p {
  text-align: center;
}
